:root {
    --primary-color: #5a98e3;
    --secondary-color: #e287c7;
    --accent1-color: #28647c;
    --accent2-color: #2cc3a2;
    --body-font: Arial, Helvetica, sans-serif;
    --head-font: "Times New Roman", times, serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    display: flex;
    flex-direction: column;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

.hero {
    justify-content: center;
    text-align: center;

}

.hero article {
    position: absolute;

}

.hero article img {
    float: right;
    width: 125px;
}

h2 {
    top: 20px;
    width: 100%;
    padding: 100px;
    text-align: center;
    align-items: center;
}

.happyrafter {
    height: 20px;
}

#articulo {
    margin: 5%;
    background-color: #FFC2F1;
    height: 120px;

}

#articulo img {
    height: 90px;
}

#options {
    text-align: left;
}

#logo {
    width: 140px;
    height: 140px;
    margin-top: 5%;
    margin-bottom: 5%;

}

section {
    display: flex;
    flex-direction: column;
}

.flex-container {
    width: 100%;
    display: flex;
    border: 1px solid #28647c;
    border-radius: 4px;
    flex-direction: row;
    gap: 10px;

}

img {
    height: 100px;
    width: 200px;
    align-self: flex-start;
}

.flex-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 20%;
    margin-top: 10%;

}

.historytt {
    text-align: center;
}

.history-container {
    display: flex;
    align-items: column;

}

.historyimg img {
    width: 150px;
    height: 75px;
    display: flex;

    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;

}

.imgs {
    display: flex;
    flex-direction: row;

}

.imgs img {
    width: 150px;
    height: auto;

}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 50px;
    height: 50px;
}

iframe {
    padding: 10px;
    align-items: flex-start;
    height: 200px;
    width: 200px;
    float: left;

}

.info {
    text-align: center;

}

.Questions {
    margin-left: 20%;
}

.bottom-elements {
    margin-top: 10%;
}

.inputs {
    border-width: 4x;
    border-bottom-color: black;
    border-color: black;
    height: 30px;

}